body {
    background-color:lightgreen ;
    font-size: 24px;
    box-sizing: border-box;
    margin: -3px;
   
}

h1 {
    color: red;
    border: solid 10px;

}


.carros {
    text-align: center;
    margin: 0 auto;
}

.economico {
    color: black;
    
}

.qualidade {
    background-color: green;

}

   
.defeito {
    background-color: brown;
}

.defeito img {
    width: 600px;
    height: 600px;
}

.tecnologia {
    border: double 10px #2bcb;
    background-color: azure;
}

.eletricidade {
    border: 5px solid black;
    
}

.eletricidade img {
    width: 300px;
    height: 300px;
}

#mensagem {
    font-size: 30px;
    color: darkgoldenrod;
}

/* Estilização de lista */

ul {
    list-style: circle;
}

ul li {
    border: 1px solid black;
    padding: 5px;
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}